version: "3.4"
services:
  beacon-chain:
    image: "beacon-chain.prysm-prater.dnp.dappnode.eth:1.0.0"
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v2.1.4-rc.0
    volumes:
      - "beacon-chain-data:/data"
    ports:
      - "13503:13503/tcp"
      - "12503:12503/udp"
    restart: unless-stopped
    environment:
      HTTP_WEB3PROVIDER: "http://goerli-geth.dappnode:8545"
      CHECKPOINT_SYNC_URL: ""
      CORSDOMAIN: "http://prysm-prater.dappnode"
      WEB3_BACKUP: ""
      P2P_TCP_PORT: 13503
      P2P_UDP_PORT: 12503
      EXTRA_OPTS: ""
  validator:
    image: "validator.prysm-prater.dnp.dappnode.eth:1.0.0"
    build:
      context: validator
      dockerfile: Dockerfile
      args:
        UPSTREAM_VERSION: v2.1.4-rc.0
        BRANCH: develop
    volumes:
      - "validator-data:/root/"
    restart: unless-stopped
    environment:
      LOG_TYPE: INFO
      BEACON_RPC_PROVIDER: "beacon-chain.prysm-prater.dappnode:4000"
      BEACON_RPC_GATEWAY_PROVIDER: "beacon-chain.prysm-prater.dappnode:3500"
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
volumes:
  beacon-chain-data: {}
  validator-data: {}
